body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    margin-top: 20px;
}

.image-container {
    margin: 20px auto;
}

img {
    height: 50vh; /* 1/4 of the viewport height */
    cursor: pointer;
}

p {
    font-size: 24px;
    margin-top: 10px;
}
